<table class="main" width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td class="content-wrap">
      <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <td class="content-block">
            Fortoldnings faktura vedr. ordre <%= @order.order_number %>.
            <br>
            Forsendelses nr: <%= @order.shipment_ids %>.
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
