<table class="main" width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td class="content-wrap">
      <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <td class="content-block">
            <h2 class="aligncenter">Kære <%= @gift_card.name %></h2>
            <p class="aligncenter">Tak for dit køb af gavekort til eAnatomi. Gavekortet finder du vedhæftet denne email. Gavekortet kan udskrives eller videresendes.</p>
          </td>
        </tr>
        <tr>
          <td class="content-block">
            <h4>Sådan indløses gavekortet</h4>
            <p>For at indløse gavekortet, skal den unikke kode, som står på gavekortet under beløbet, indtastes på bestillingssiden på www.eAnatomi.dk. Herefter modregnes gavekortets værdi inden bestillingen gennemføres.</p>
          </td>
        </tr>
        <tr>
          <td class="content-block">
            <p>Betingelser for brug af gavekortet står skrevet nederst på gavekortet, så modtageren har alle vigtige oplysninger ved hånden.</p>
            <p>Vi ser frem til at byde den heldige modtager velkommen i vores butik og vi står altid til rådighed ved evt. spørgsmål.</p>
          </td>
        </tr>
        <tr>
          <td class="content-block">
            <p>Mange hilsner<br>
            eAnatomi</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
