<div class="not-found">
  <div class="container text-center my-10 mb-32">
    <%= image_tag 'icons/not_found.svg', class: 'img-responsive w-12 mt-10 mb-4' %>
    <h1 class="font-alt"><%= t '.not_found' %></h1>
    <br>
    <a href="/" class="btn btn-lg btn-green rounded-full px-6 mt-3 inline-block"><%= t '.home' %></a>
  </div>
</div>
