label.border-grey.border-px.p-3.py-4.uppercase.text-xs.flex-grow.my-1.mr-4.cursor-pointer.hover--border-grey-dark.rounded-full
  = f.radio_button :client_type, client_type, role: 'order-client-type', class: 'hidden'
  span.shape.w-3.h-3.inline-block.mr-2.rounded-full.border.border-grey.flex-no-shrink
  span.ml-2 = t(".#{client_type}")
